.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__group {
    padding: 4rem;
    background-color: $colorsecondary;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__logo {
    margin-top: 5rem;
  }
  &__title {
    color: $colortertiary;
    font-weight: 700;
    font-size: 4rem;
    margin: 3rem;
    text-align: center;
  }
  &__users {
    display: flex;
  }
  &__user {
    font-size: 2rem;
    background-color: $colortertiary;
    padding: 2rem;
    border: 2px solid $colorprimary;
    border-radius: 25px;
    margin: 1rem;
  }
}
